<!DOCTYPE html>
<html>
<head>
  <title>Red Tide Radar</title>
  <link rel="stylesheet" href="app.component.css">
  <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap" rel="stylesheet">
</head>
<body>
<header>
  <div class = "news-link">
    <p>www.RedTideRadar.com</p>
  </div>
  <hr class = "hr1">
  <h1><span>RED TIDE</span> RADAR</h1>
  <p class = "ad"> Your main source about everything Red Tide!
  </p>
  <br>
  <h2 class = "date"> Last Updated on: May 5, 2022</h2>
  <br>
</header>


<section class = container-1>
  <hr class = "break">
  <div class= "twitter-container">

    <div class="twitter-title">
      <h2 class="twitteritle"> Live <span class="twitter-span">Tweets</span></h2>
      <p> Find out what people are saying about red tide on Twitter.</p>
    </div>

    <app-twitter-extractor></app-twitter-extractor>


  </div>
  <div class = "image-1"></div>
</section>


<section class="container-2">
  <hr class= "break-mid">
  <p class="caption"> Potato Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
</section>



<section class="container-3">
  <hr class = "break-2">
  <div class = "p-2">
    <h4>Lorem, ipsum.</h4>
    <p>Potato Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
  </div>
  <div class = "p-2">
    <h4>Lorem, ipsum.</h4>
    <p>Potato Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
  </div>
  <div class = "p-2">
    <h4>Lorem, ipsum.</h4>
    <p>Potato Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
  </div>
  <div class = "image-2"></div>
  <div class="p-3">
    <h4>Lorem, Ipsum</h4>
    <p>Potato Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
  </div>
  <div class= "p-3">
    <h4>Lorem, ipsum.</h4>
    <p>Potato Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
  </div>
  <div class= "p-3">
    <h4>Lorem, ipsum.</h4>
    <p>Potato Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
  </div>
</section>


<p class="caption-2">Potato Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</p>
<hr class = "hr3">
<div class = "page-no">
  <p>Potato Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</p>
</div>

</body>
</html>
